<div class="pt-8 pb-12 px-6 text-white bg-skin-fill-accent rounded-xl">
  <div class="grid grid-cols-profile gap-x-5">
    <div>
      <%= image_tag dev.avatar_url, class: "inline-block h-17.5 w-17.5 rounded-full" %>
    </div>
    <div>
      <h2 class="text-lg font-bold text-skin-300"><%= display_name(dev) %></h2>
      <h3 class="text-sm font-medium text-skin-accent">@<%= dev.login %></h3>
      <p class="mt-1.5 text-sm text-skin-100">Joined <%= l dev.joined, format: :short_day_short_month_long_year %></p>
    </div>

    <div class="col-span-2 mt-8 lg:col-span-1 lg:col-start-2 lg:mt-5">
      <%= render(OptionalComponent.new(available: dev.bio.present?,
                                       missing_msg: "This profile has no bio")) do %>
        <%= dev.bio %>
      <% end %>

      <div class="mt-6 bg-skin-fill-base rounded-xl">
        <dl class="grid grid-cols-3 py-4 px-4 md:px-8 text-center md:text-left">
          <div>
            <dt class="text-skin-200">Repos </dt>
            <dd class="mt-2 text-skin-300"><%= dev.public_repos %></dd>
          </div>
          <div>
            <dt class="text-skin-200">Followers</dt>
            <dl class="mt-2 text-skin-300"><%= dev.followers %></dl>
          </div>
          <div>
            <dt class="text-skin-200">Following</dt>
            <dl class="mt-2 text-skin-300"><%= dev.following %></dl>
          </div>
        </dl>
      </div>

      <div class="grid gap-y-4 mt-6 md:gap-x-4 md:grid-cols-2">
        <div class="md:order-1">
          <%= render(ContactComponent.new(svg: "icon-location.svg", available: dev.location.present?)) do %>
            <%= link_to dev.location, "#" %>
          <% end %>
        </div>

        <div class="md:order-3">
          <%= render(ContactComponent.new(svg: "icon-website.svg", available: dev.blog.present?)) do %>
            <%= link_to dev.blog, dev.blog %>
          <% end %>
        </div>

        <div class="md:order-2">
          <%= render(ContactComponent.new(svg: "icon-twitter.svg", available: dev.twitter_username.present?)) do %>
            <%= link_to dev.twitter_username, "https://twitter.com/#{dev.twitter_username}" %>
          <% end %>
        </div>

        <div class="md:order-4">
          <%= render(ContactComponent.new(svg: "icon-company.svg", available: dev.company.present?)) do %>
            <%= link_to dev.company, "https://github.com/#{'The linux'}" %>
          <% end %>
        </div>
      </div> <!-- grid -->
    </div>
  </div>





</div>