<main data-controller="mode-switch visibility"
      data-mode-switch-dark-class="dark"
      data-mode-switch-target="darkModeRoot"
      class="dark bg-skin-fill-base">
  <div class="mx-auto max-w-[730px] px-6 pt-7 bg-skin-fill-base h-screen">
    <header class="flex justify-between items-center">
      <h1 class="text-3xl font-bold text-skin-400">devfinder</h1>
      <button
        data-action="mode-switch#toggle visibility#toggleTargets"
        data-visibility-target="hideable"
        class="flex gap-x-4 text-skin-100 hover:text-skin-100--hover">
        LIGHT
        <%= show_svg "icon-sun.svg" %>
      </button>
      <button
        data-action="mode-switch#toggle visibility#toggleTargets"
        data-visibility-target="hideable"
        class="hidden flex gap-x-4 text-skin-100 hover:text-skin-100--hover">
        DARK <%= show_svg "icon-moon.svg" %>
      </button>
    </header>
    <div class="mt-9">
      <%= form_with url: devs_path, method: :get do |f| %>
        <%= f.label :search, class: "sr-only block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex items-center rounded-xl shadow-sm bg-skin-fill-accent drop-shadow-xl cursor-pointer">
          <div class="relative flex items-stretch flex-grow focus-within:z-10">
            <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
              <div class="h-5 w-5 text-skin-accent">
                <%= show_svg "icon-search.svg" %>
              </div>
            </div>
            <% if @dev.errors.any? %>
              <ul class="absolute inset-y-0 right-0 pr-4 flex items-center pointer-events-none text-skin-helper-danger">
                <% @dev.errors.messages_for(:name).each do |message| %>
                  <li><%= message %></li>
                <% end  %>
              </ul>
            <% end  %>
            <%= f.text_field :search,
                             class:"block border-0 focus:ring-0 w-full rounded-none rounded-l-md pl-10 text-sm text-skin-200 bg-skin-fill-accent border-0 placeholder:text-skin-200",
                             placeholder: "Search Github username" %>
          </div>
          <%= f.submit "Search",
                       class: "h-12 w-[106px] -ml-px mr-2.5 my-2.5 relative inline-flex items-center justify-center space-x-2 px-4 text-sm font-medium rounded-md text-skin-primary-button bg-skin-fill-primary-button hover:bg-skin-fill-primary-button-hover cursor-pointer" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render partial: "devs/dev", locals: { dev: @dev } %>
</main>
